<%-include('../partial/header')-%>
<div class=" container">
    <center>
        <h1>Hello</h1>
    </center>
</div>


<% // query.forEach(function(qry){ %>
  <li> <%= // qry.q %><strong></li>
<% // }); %>

<div class="container">
<h1>HEADER</h1>
<%var name = query;%>
<%console.log(name);%>

<%- name %>
</div>
<%-include('../partial/footer')-%>